<form [formGroup]="doctorsFormValidationService.fields">
  <h2 mat-dialog-title>Doktoren erstellen</h2>
  <mat-dialog-content class="mat-typography">
    <app-doctors-form></app-doctors-form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button (click)="onAbortClicked()"
            type="button"
            mat-button>
      <mat-icon>close</mat-icon>&nbsp;Abbrechen
    </button>
    <button (click)="onSaveClicked()"
            mat-button
            cdkFocusInitial
            type="submit"
            [color]="doctorsFormValidationService.fields.valid ? 'primary' : null"
            [disabled]="!doctorsFormValidationService.fields.valid">
      <mat-icon>save</mat-icon>&nbsp;Speichern
    </button>
  </mat-dialog-actions>
  <mat-progress-bar mode="determinate" [value]="doctorsFormValidationService.percentageCompletion"></mat-progress-bar>
</form>
