
.global-search {
    max-height: 36px;
    input {
        width: 0px;
        transition: all 0.4s linear;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        background: transparent;
        color: white;
        border-radius: 0;
        height: 100%;

    }
    &.visible {
        border: 1px solid white;
        border-radius: 24px;
        box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 2px 2px 2px 0px rgba(0,0,0,0.75);
        input {
            width: 200px;
        }
    }
}

