<div class="nurses-form-component" fxLayout="column">
  <mat-form-field>
    <mat-placeholder>Vorname</mat-placeholder>
    <input matInput
           type="text"
           [formControl]="nursesFormValidationService.fields.controls.firstname"
           id="nurses-firstname"
           required />
    <mat-error *ngIf="nursesFormValidationService.firstNameErrors">
      {{nursesFormValidationService.firstNameErrors}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nachname</mat-label>
    <input matInput
           placeholder="Nachname"
           type="text"
           [formControl]="nursesFormValidationService.fields.controls.lastname"
           required
           id="nurses-lastname" />
    <mat-error *ngIf="nursesFormValidationService.lastNameErrors">
      {{nursesFormValidationService.lastNameErrors}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>
      Identifier
    </mat-label>
    <input matInput
           placeholder="Identifier"
           type="text"
           [formControl]="nursesFormValidationService.fields.controls.identifier"
           id="nurses-identifier"
           required />
    <mat-error *ngIf="nursesFormValidationService.identifierErrors">
      {{nursesFormValidationService.identifierErrors}}
    </mat-error>
  </mat-form-field>

</div>
