<div class="patients-details-card animated fadeIn" fxLayout="column" fxLayoutGap="16px">

  <div class="entry" fxLayout="row">
    <div class="key" fxFlex="150px">Identifikation:</div>
    <div class="value">{{patient.identifier}}</div>
  </div>

  <div class="entry" fxLayout="row">
    <div class="key" fxFlex="150px">Nachname:</div>
    <div class="value">{{patient.lastname}}</div>
  </div>

  <div class="entry" fxLayout="row">
    <div class="key" fxFlex="150px">Vorname:</div>
    <div class="value">{{patient.firstname}}</div>
  </div>


  <div class="entry comment">
    <div class="key">Kommentar:</div>
    <div class="value">{{patient.patComment}}</div>
  </div>
  
</div>