.mat-expansion-panel-body {
  padding: 10px 22px 36px;
}

.mat-form-field + .mat-form-field {
  margin-bottom: 80px;
}

.mat-expansion-panel-header.mat-expanded {
  height: 45px;
}

.mat-expansion-panel {
  background: rgb(145 84 146 / 26%);
  color: #fff;
}
